@import url("https://rsms.me/inter/inter.css");
html {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

html {
    font-size: 19px;
    font-family: "Inter var", sans-serif;
    background-color: white;
}

.navbar-top {
    background-color: rgb(26, 23, 23);
    overflow: hidden;
}

.navbar-top a {
    background-color: rgb(26, 23, 23);
    float: right;
    display: block;
    color: #e6e5e5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    
    color: green;
  }

  .topnav .icon {
    display: none;
  }